---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import StargazersCount from "../components/StargazersCount.tsx";

const links = [
    { label: "Github", href: "https://github.com/jnsahaj" },
    { label: "LinkedIn", href: "https://www.linkedin.com/in/sahaj-jain-9099641ab/" },
    { label: "Email", href: "mailto:sahajjain13+business@gmail.com" },
];

const blogEntries = await getCollection("blog");
const availableBlogEntries = blogEntries.filter((entry) => {
    return import.meta.env.PROD ? !entry.data?.draft : true;
});

availableBlogEntries.sort((a, b) =>
    a.data.publishDate < b.data.publishDate ? 1 : a.data.publishDate > b.data.publishDate ? -1 : 0,
);
---

<Layout title="Sahaj Jain">
    <main class="mt-16 md:text-base lg:text-lg text-zinc-300">
        <div class="flex items-center justify-between">
            <h2 class="text-3xl text-white font-bold">Sahaj Jain</h2>
            <div class="flex items-center gap-3">
                <a href="https://x.com/iamsahaj_xyz">
                    <Icon name="twitter" class="text-white" />
                </a>
                <a href="https://bsky.app/profile/iamsahaj.xyz">
                    <Icon name="bluesky" class="text-white" />
                </a>
            </div>
        </div>
        <section class="mt-8">
            <p>Hey, I’m Sahaj—a software engineer building refined experiences on the web.</p>
            <br />
        </section>

        <section class="text-xs md:text-sm lg:text-base text-zinc-400">
            <p class="flex mb-1 gap-2 items-center italic">
                <Icon name="octicon:location-16" />
                Gurugram, India
            </p>
            <p class="flex mb-1 gap-2 items-center italic">
                <Icon name="octicon:briefcase-16" />
                Currently <a
                    class="underline underline-offset-1 decoration-zinc-600 hover:decoration-current transition"
                    href="https://vercel.com">@vercel</a
                >
            </p>
            <p class="flex mb-1 gap-2 items-center italic">
                <Icon name="octicon:book-16" />
                B.E. (Hons.) from BITS Pilani, Goa Campus
            </p>
        </section>
        <section>
            <br />
            <p>
                I'm a TypeScript nerd and I use neovim <i>(btw)</i>. I love building tools for developers and generally
                care too much about attention to detail.
            </p>
        </section>

        <div class="text-zinc-400 text-xs md:text-sm lg:text-base mt-12">Blog</div>
        <section class="mt-2 flex flex-col gap-2">
            {
                availableBlogEntries.map((entry) => {
                    return (
                        <a
                            class="pb-2 px-4 bg-zinc-900 hover:bg-zinc-800 border border-zinc-800 transition rounded relative"
                            href={`/blog/${entry.slug}`}
                        >
                            <div class="mt-2 flex justify-between items-start gap-4">
                                <div>{entry.data.title}</div>
                                <Icon class="text-lg" name="octicon:arrow-up-right-16" />
                            </div>

                            <time
                                class="text-xs md:text-sm lg:text-base text-zinc-600 absolute top-0 -right-24 md:-right-32 md:block hidden"
                                datetime={entry.data.publishDate}
                            >
                                {new Date(entry.data.publishDate).toLocaleDateString("en-US", {
                                    year: "numeric",
                                    month: "short",
                                    day: "numeric",
                                })}
                            </time>
                        </a>
                    );
                })
            }
        </section>

        <div class="text-zinc-400 text-xs md:text-sm lg:text-base mt-12">Projects</div>
        <section class="grid grid-cols-1 md:grid-cols-2 gap-2 gap-x-10">
            <a href="https://github.com/jnsahaj/lumen" class="flex flex-col gap-2 b py-4 rounded group">
                <div class="flex items-center gap-2">
                    <div
                        class="text-lg flex items-center gap-1 underline group-hover:decoration-current italic underline-offset-2 decoration-zinc-600 transition"
                    >
                        lumen
                    </div>
                    <StargazersCount client:load repo="lumen">
                        <Icon name="octicon:star-fill-16" class="text-yellow-500" />
                    </StargazersCount>
                </div>
                <p class="text-xs md:text-sm lg:text-base text-zinc-400">
                    An AI-powered CLI tool to generate Git commit messages, summarize changes and more. Supports
                    multiple AI providers. Written in Rust.
                </p>
            </a>
            <a href="https://github.com/jnsahaj/tweakcn" class="flex flex-col gap-2 group py-4 rounded">
                <div class="flex items-center gap-2">
                    <div
                        class="text-lg flex items-center gap-1 underline group-hover:decoration-current italic underline-offset-2 decoration-zinc-600 transition"
                    >
                        tweakcn
                    </div>
                    <StargazersCount client:load repo="tweakcn">
                        <Icon name="octicon:star-fill-16" class="text-yellow-500" />
                    </StargazersCount>
                </div>
                <p class="text-xs md:text-sm lg:text-base text-zinc-400">
                    A Powerful Theme Editor for shadcn/ui components with Beautiful themes. Integrates with Tailwind
                    CSS.
                </p>
            </a>
            <a href="https://github.com/jnsahaj/monkey-rs" class="flex flex-col gap-2 b py-4 rounded group">
                <div
                    class="text-lg flex items-center gap-1 underline group-hover:decoration-current italic underline-offset-2 decoration-zinc-600 transition"
                >
                    monkey-rs
                </div>
                <p class="text-xs md:text-sm lg:text-base text-zinc-400">
                    An interpreter and [WIP] compiler for a fully-featured fictional language, written in Rust
                </p>
            </a>
            <a href="https://altr.iamsahaj.xyz" class="md:row-span-2 flex flex-col gap-2 group py-4 rounded">
                <div
                    class="text-lg flex items-center gap-1 underline group-hover:decoration-current italic underline-offset-2 decoration-zinc-600 transition"
                >
                    altr
                </div>
                <p class="text-xs md:text-sm lg:text-base text-zinc-400">
                    Smart refactoring tool that helps in effortlessly renaming code elements while maintaining your
                    preferred casing conventions
                </p>
            </a>
        </section>

        <section
            class="flex text-xs md:text-sm lg:text-base gap-6 justify-center mt-24 text-zinc-100 decoration-zinc-400 font-thin"
        >
            {
                links.map((link) => (
                    <a class="hover:underline underline-offset-4" href={link.href}>
                        {link.label}
                    </a>
                ))
            }
        </section>
    </main>
</Layout>
